h1, h2 {
    font-family: Oswald, sans-serif;
}

p {
   font-family: Open Sans, sans-serif; 
   display: inline-block;
}

body {
    color: DarkBlue;
    margin: 10px 50px;
    max-width: 950px;
    background-color: ivory;
}

img {
    vertical-align: middle;
}

