/* General */ 
body {
    text-align: center;
    width: 800px;
    margin: 0 auto;
    
}

/* Styling the products display */ 
main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; 
    background: url(images/phone_globe.jpg) no-repeat 50% center;
}

/* Form styling */
img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
}

/* Typography */
h1, h2{
    text-align: center;
}

/* block styling */ 
body > div {
    border: 5px solid black;
    display: flex;
}