h1, h2 {
    font-family: Oswald, sans-serif;
}

p {
   font-family: Open Sans, sans-serif; 
}

/* change background color to black and font to yellow */
body {
    color: yellow;
    margin: auto;
    max-width: 950px;
    background-color: black;
}

ul {             
    list-style-type: none;
    margin: 0;
    padding: 0;
    column-gap: 10px;
    display: flex;
    justify-content: space-between;
}

li {
    size: 950px;
}

.container {
    display: inline-flex;
    column-gap: 10px;
    justify-content: space-between; 
}

.column {
    width: 300px;
    padding: 10px;
    padding-top: 0px;
    box-sizing: border-box; 
}


